.content0 .content0_0 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1024px;
    height: 378px;
    border: #91D981 1px solid;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content0 .content0_1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1084px;
    height: auto;
    padding-bottom: 100px;
    border: #91D981 1px solid;

}

.content0 .content0_1 .title {
    margin-left: 25px;
    background: url(../images/regieter_title.png);
    height: 46px;
    width: 240px;
}

.content0 .content0_1 .title .title-text {
    height: 46px;
    width: 220px;
    background: #178201;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
}

#main .content0 .content0_0 .left {
    width: 511px;
    height: 378px;
    border-right: 1px #91D981 solid;
}

#main .content0 .content0_0 .left .title {
    color: #0F5A00;
    height: 36px;
    width: 451px;
    line-height: 36px;
    font-size: 16px;
    border-bottom: dotted 1px #91D981;
}

#main .content0 .content0_0 .left .form-input {
    margin-top: 45px;

}

.form-input #check-box, .form-input #submit-button {
    margin-left: 50px;
}

.form-input #username, .form-input #passwd {
    width: 240px;
}

.form-input #username {
    color: #9D9D9D;
}

.form-input input {
    margin-top: 10px;
    border: 1px solid #89D678;
    height: 24px;
}

.form-input #check-box {
    width: inherit;
    height: inherit;
}

.form-input #yzm {
    width: 145px;
}

.form-input a {
    color: green;
    margin-left: 5px;
}

.form-input #yzm_img {
    position: relative;
    top: 9px;
    left: 5px;
}

#main .content0 .content0_0 .right {
    width: 330px;
    height: 278px;
    line-height: 24px;
    padding-right: 120px;
    padding-top: 100px;
}

#main .content0 .content0_0 .right b {
    color: #0F5A00;
    font-size: 14px;
}

#main .content0 .content0_0 .right .button_zc {
    width: 170px;
    height: 24px;
    background: #0F5A00;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.content0_1 .form {
    margin-top: 50px;
    margin-left: 50px;
}

.content0_1 .form label {
    width: 80px;
    display: block;
    float: left;
    clear: both;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;

}

.content0_1 .form input, .content0_1 .form select {
    border: #9BDC8D 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content0_1 .form i {
    color: red;
    font-style: normal;
}

.content0_2 {
    width: 1084px;
    height: 400px;
    border: #91D981 1px solid;
    margin-bottom: 20px;
}

.content0_2 .title3 {
    width: 1012px;
    height: 39px;
    border-bottom: #91D981 1px solid;
    background: #D5FFCC;
    padding-left: 72px;
    line-height: 39px;
    color: #0F5A00;
    font-size: 14px;
    font-weight: bold;
}

.content0_2 form {
    margin-top: 50px;
    margin-left: 300px;
}

.content0_2 form input[type="text"] {
    border: 1px solid #89D678;
    width: 237px;
    margin-bottom: 10px;
    *margin-bottom: 0px;
    *margin-top: 10px;
}

.content0_2 form input[type="submit"] {
    margin-left: 105px;
    background: #0F5A00;
    border: none;
    height: 24px;
    width: 100px;
    color: white;
    margin-top: 10px;
}